@use "../../styles/mixins";
@use "../../styles/variables";

.container {
  & > div {
    cursor: pointer;
  }

  padding: 1rem;
  box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  max-width: 270px;
  margin: 16px;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0px 3px 19px variables.$primary-color;
  }
}

.image {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.description {
  h4 {
    width: 85%;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    font-weight: 300;
    margin: 16px 0;
    line-height: 22px;
    min-height: 44px;
  }

  h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.25rem;
    margin-bottom: 16px;
  }

  small {
    color: variables.$primary-color;
  }
}

.action {
  button {
    width: 100%;
    margin-top: 16px;
  }
}
