$primary-color: #f71963;
$white-color: #ffffff;
$black-color: #000000;
$text-primary-color: #3f3f40;
$text-secondary-color: #9f9f9f;
$text-disabled-color: #808080;
$font-family: "Poppins", sans-serif;
$tablet: 768;
$large: 1024;
$desktop: 1280;
