@use "@/styles/mixins";
@use "@/styles/variables";

.brands {
  & > div {
    @include mixins.customContainer;

    h4 {
      font-size: 1.875rem;
      text-align: center;
      color: variables.$primary-color;
      margin-bottom: 52px;
    }
  }
}
